<div class='main-heder'>
  <span>作成者</span>
  <div class='create-name-a'>
    <div class='create-name'>
      <%= @room.user.name %>
    </div>
  </div>
  <div class='main-title'>
    <%= @room.species%>
  </div>
</div>
<div class="messages">
  <%= render 'message' %>
</div>

