.messages {
  border-left: 1px solid black;
  height: 100vh;
  overflow: scroll;
}

.message {
  flex-direction: column;
}

.upper-message{
  height: 345px;
}

.message-text {
  display: flex;
  justify-content: space-between;
  color: #434a54;
  border-top: 1px solid black;
  padding: 20px 10px;
  font-size: 20px;
}

.messages-text {
  height: 310px;
  width: calc(100vw - 620px);
  overflow: scroll;
}

