.top-page-header {
  width: 100vw;
  padding: 10px;
  display: flex;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 50px;
  
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-name {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
  padding: 20px;
}

.logout {
  text-decoration: none;
  color: #333333;
  border: 1px solid darkred;
  padding: 20px;
}

.create_procedure {
  width: 100vw;
  background-color: darkgray;
}

.heading-name {
  text-align: center;
  border-bottom: 1px solid red;
  width: 200px;
  margin: 5px auto;
  padding: 20px 0px 10px 0px;
}

.contents.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.container {
  height: 300px;
}

.title {
  font-size: 30px;
  border-bottom: 1px solid red;
}

.text {
  height: 800px;
  padding: 50px;
  background-color: lightgray;
}

.click-upload {
  background-color: lemonchiffon;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload {
  padding: 20px;
  font-size: 20px;
}

.group-name {
  height: 100px;
  font-size: 18px;
  background-color: lemonchiffon;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work {
  height: 100px;
  font-size: 18px;
  background-color: lemonchiffon;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-create {
  padding: 5px 0;
  font-size: 20px;
}

.new-create-btn {
  height: 40px;
  width: 250px;
  background-color: lightskyblue;
}

.root-btn {
  font-size: 20px;
}

.box {
  height: 50px;
  width: 300px;
}

.work_box {
  height: 50px;
  width: 300px;
}

.create-page {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
}

.create-btn {
  color: blue;
  text-align: center;
  width: 200px;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
}

.group-image {
  width: 200px;
  height: 200px;
}

.contents {
  text-align: center;
  padding: 20px;
}

h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.chat-room-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.chat-room-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.chat-room-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.chat-room-form__input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.chat-room-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}
.chat-room-form__field {
  margin-top: 30px;
}
.chat-room-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.chat-room-form__field--right {
  float: right;
  width: 70%;
}

.chat-room-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  width: 500px;
  margin: 0 auto;
}
.chat-room-user:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-user__name {
  float: left;
}
.chat-room-user__btn {
  float: right;
  display: inline-block;
  cursor: pointer;
}
.chat-room-user__btn--add {
  color: #38aef0;
}
.chat-room-user__btn--remove {
  color: #f05050;
}

.chat-room-user__name a {
  text-decoration: none;
  color: #38aef0;
}

select {
  width: 500px;
  height: 50px;
}

.top-header {
  background-color: #434a54;
  height: 80px;
  width: 100%;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}

.field_with_errors {
  display: contents;
}